  /* Переменные цвета */
:root {
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-white-rgb: 255, 255, 255;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --filter-background-color: #dcdcdc;
  --toggle-color: #c4c4c4;
  --pagination-background-color: #ebebeb;
  --pagination-button-color: #d9d9d9;
  --letter-inputs-color: #f2f2f2;
  --letter-inputs-active-color: #eaeaea;

  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;

  --status: #f6dada;
}

  /* Шрифты */
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

  /* Прячем доступно */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

  /* Глобальные стили */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif ;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.page a {
  color: inherit;
  text-decoration: none;
  outline:none;
  user-select: none;
}

.page a:focus {
  box-shadow: 0 0 0 2px var(--basic-black);
}

.page a:active {
  box-shadow: none;
}

.footer-navigation a:focus {
  box-shadow: 0 0 0 2px var(--basic-white);
}

.footer-navigation a:active {
  box-shadow: none;
}

.page ul {
  list-style: none;
}

  /* Глобальные стили кнопок */
.btn {
  position: relative;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;

  font-family: "Gilroy","Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  outline: none;
  user-select: none;
}

.btn:active {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.btn::before {
  content: "";
  position: absolute;
  top:16px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);

  transition-duration: 0.3s;
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleY(5);
}

  /* Блок центровщик */
.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

  /* Шапка сайта */
.main-navigation {
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;

  background-image: linear-gradient(to bottom,var(--basic-white) 40px, var(--special-yellow) 40px);
}

.main-navigation a:visited {
  opacity: 0.3;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.logo {
  display: inline-flex;
}

.logo.index-logo:hover,
.logo.index-logo:focus {
  opacity: 1;
}

.navigation-top-row {
  display: flex;

  margin-bottom: 45px;
}

.search-form {
  display: flex;
  align-items: flex-end;

  width: 500px;
  margin-right: 40px;
}

.search-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-form label {
  position: relative;

  display: flex;
  padding-left: 38px;
}

.search-form label::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 1px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
}

.search-field-wrapper {
  position: relative;

  flex-grow: 1;

  display: flex;
  align-items: flex-end;
}

.search-field-wrapper .search-field {
  flex-grow: 1;

  padding: 0;
  padding-bottom: 4px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;

  color: var(--basic-black);
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.search-form .search-field:hover {
  opacity: 0.6;
}

.search-form .search-field:focus {
  opacity: 1;
  outline: none;
  box-shadow: inset 0 -2px  var(--basic-black);
}

.search-form .search-btn {
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);

  border: 2px solid var(--basic-black);
  background-color: transparent;
  outline: none;
  opacity: 0;
}

.search-form .search-field:focus + .search-btn {
  opacity: 1;
  cursor: pointer;
}

.search-form .search-btn:focus {
  opacity: 1;
  cursor: pointer;
}

.search-form .search-btn:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  right:0;

  display: block;

  width: 100%;
  height: 2px;

  box-shadow: inset 0 -2px  var(--basic-black);
}

.search-form .search-btn:hover,
.search-form .search-btn:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form .search-btn:active {
  color: rgba(var(--basic-white-rgb), 0.3);
}

.user-actions {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  width: 500px;
  margin: 0;
  padding: 0;
}

.user-actions-item {
  margin-right: 20px;
  padding-bottom: 5px;
}

.user-actions-item.profile {
  padding: 0;
  margin-right: auto;
}

.user-actions-item .profile-wrapper {
  display: flex;

  margin: 0;
  padding: 0;
}

.user-actions-item.login-item a {
  position: relative;

  padding-left: 24px;
}

.user-actions-item.login-item a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 14px;

  background-image: url("../img/icon_user.svg");
  background-repeat: no-repeat;
}

.user-actions-item.logout-item {
  margin-right: 0;
}

.user-actions-item.logout-item a {
  opacity: 0.3;
}

.user-actions-item.logout-item a:hover,
.user-actions-item.logout-item a:focus {
  opacity: 0.6;
}

.user-actions-item.logout-item a:active {
  opacity: 1;
}

.user-actions-item.compare-item {
  margin-right: 43px;
}

.user-actions-item.compare-item a {
  position: relative;

  padding-left: 26px;
}

.user-actions-item.compare-item a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 14px;
  height: 14px;

  background-image: url("../img/icon_compare.svg");
  background-repeat: no-repeat;
}

.user-actions-item.basket-item {
  margin-right: 0;
}

.user-actions-item.basket-item a{
  position: relative;

  padding-left: 23px;
}

.user-actions-item.basket-item a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url("../img/icon_basket.svg");
  background-repeat: no-repeat;
}

.navigation-bottom-row {
  display: flex;

  padding-bottom: 5px;
}

.catalog,
.services-menu {
  padding: 0;
  margin: 0;
}

.catalog {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 500px;
  margin-right: 40px;
}

.catalog-item {
  margin-right: 20px;
}

.have-drop-down {
  position: relative;

  padding-right: 34px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  cursor: pointer;
}

.have-drop-down::before,
.have-drop-down::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;

  width: 15px;
  height: 2px;
  background-color: rgba(var(--basic-black-rgb), 0.3);
}

.have-drop-down::after {
  transform: rotate(90deg);
}

.navigation-bottom-row .have-drop-down:hover,
.navigation-bottom-row .have-drop-down:focus {
  color: rgba(var(--basic-black-rgb), 0.6);
  opacity: 1;
}

.catalog-submenu {
  position: absolute;
  left: -60px;
  z-index: 100;

  flex-wrap: wrap;

  display: none;

  width: 1040px;
  min-height: 134px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 60px;

  background-color: var(--special-yellow);
}

.catalog-submenu-items {
  display: flex;
  flex-direction: column;

  margin-right: 60px;
}

.catalog-submenu-items a {
  margin-bottom: 20px;
}

.catalog-submenu-items a:not([href]) {
  opacity: 0.3;
  cursor: default;
}

.have-drop-down:hover + .catalog-submenu,
.have-drop-down:focus + .catalog-submenu {
  display: flex;
}

.catalog-submenu:hover {
  display: flex;
}

.services-menu {
  display: flex;
  flex-wrap: wrap;

  width: 500px;
}

.services-menu-item {
  margin-right: 20px;
}

.services-menu-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.services-menu-item.delivery-item {
  margin-right: 35px;
}

.services-menu-item.warranty-item {
  margin-right: auto;
}

.services-menu-item.contacts-item{
  margin-right: 0;
}

  /* Основное содержание */
.page-content {
  flex-grow: 1;
}

  /* Слайдер топ-товаров */
.slider-products {
  margin-bottom: 95px;
}

.slider-container {
  position: relative;
}

.slider-products-list {
  display: flex;

  min-height: 510px;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  background-image: linear-gradient(to bottom, var(--special-yellow) 159px, var(--basic-white) 159px);
}

.slider-products-item {
  display: none;
}

.slider-products-item.active {
  position: relative;

  display: flex;
}

.slider-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 560px;
  margin-right: 40px;
  overflow: hidden;
}

.slider-products-item.slide-1 img{
  padding-left: 2px;
  padding-bottom: 24px;
}

.slider-products-item.slide-2 img{
  padding-top: 25px;
  padding-left: 16px;
}

.slider-products-item.slide-3 img{
  padding-bottom: 12px;
  padding-left: 25px;
}

.slider-products-description {
  z-index: 20;

  width: 560px;
  padding-top: 93px;
}

.slider-products-item::before {
  content: attr(data-number);
  position: absolute;
  z-index: 1;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;

  color: var(--basic-white);
}

.slider-products-item.slide-1::before {
  top: 2px;
  right: 48px;
}

.slider-products-item.slide-2::before {
  top: 3px;
  right: 54px;
}

.slider-products-item.slide-3::before {
  top: 4px;
  right: 53px;
}

.slider-products-item::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: var(--basic-white);
}

.slider-products-description b {
  display: block;

  margin-bottom: 26px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.slider-products-description p {
  margin: 0;
  margin-bottom: 50px;
}

.slider-products-description a {
  width: 220px;
  margin-bottom: 53px;

  letter-spacing: 3.6px;
}

.slider-products-description a:focus {
  box-shadow: none;
}


.slider-products-characteristics {
  display: flex;
  flex-wrap: wrap;

  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.slider-products-characteristics div:not(:last-child) {
  margin-right: 62px;
}

.slider-products-characteristics.slide-3 div:first-child {
  margin-right: 27px;
}

.slider-products-characteristics dt {
  margin-bottom: 15px;

  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3.6px;
}

.slider-products-characteristics dd {
  margin: 0;

  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;
}

.slider-products-controls {
  position: absolute;
  top: 370px;
  right: 108px;

  display: flex;
  justify-content: space-between;

  width: 72px;
}

.slider-products-control {
  position: relative;
  z-index: 30;

  width: 12px;
  height: 12px;
  padding: 0;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider-products-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--special-yellow-dark);
}

.slider-products-control.active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 30;

  width: 4px;
  height: 4px;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

  /* Дублирующее меню каталога */
.popular-categories {
  margin-bottom: 84px;
}

.popular-categories-list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  column-gap: 40px;
  row-gap: 20px;

  margin: 0;
  padding: 0;
}

.popular-categories-item a {
  position: relative;

  display: inline-flex;

  width: 160px;
  padding-top: 198px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.popular-categories-item a:focus {
  box-shadow: none;
}

.popular-categories-item:not(:nth-child(4)) a {
  letter-spacing: 0.9px;
}

.popular-categories-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: var(--special-yellow);
}

.popular-categories-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.vr-category a::after {
  background-image: url("../img/icon_virtual_reality.svg");
  background-position: 31px 52px;
}

.monopods-category a::after {
  background-image: url("../img/icon_monopodes.svg");
  background-position: 37px 26px;
}

.cameras-category a::after {
  background-image: url("../img/icon_action_camera.svg");
  background-position: 44px 36px;
}

.bracelets-category a::after {
  background-image: url("../img/icon_fit_braseletes.svg");
}

.watches-category a::after {
  background-image: url("../img/icon_smart_watch.svg");
}

.drones-category a::after {
  background-image: url("../img/icon_drones.svg");
}

.popular-categories-item a:hover::before,
.popular-categories-item a:focus::before {
  background-color: var(--special-yellow-dark);
}

.popular-categories-item a:active {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.popular-categories-item a:active::after {
  opacity: 0.3;
}

  /* Слайдер услуг */
.slider-services {
  min-height: 390px;
  margin-bottom: 88px;

  background-image: linear-gradient(to bottom,var(--basic-white) 100px, var(--basic-grey-light) 100px);
}

.slider-services-container {
  display: flex;
  justify-content: space-between;
}


.slider-services-list {
  width: 277px;
  min-height: 240px;
  margin: 0;
  padding: 0;
  padding-top: 80px;

  border-right: 7px solid var(--basic-black);
}

.slider-services-item .btn {
  position: relative;
  z-index: 1;

  width: 160px;
  margin-bottom: 21px;

  letter-spacing: 3.6px;
}

.slider-services-item a:focus {
  box-shadow: none;
}

.slider-services-item.active a,
.slider-services-item a:active {
  color: var(--special-yellow);
}

.slider-services-item.active a::before,
.slider-services-item a:active::before {
  top: 0;

  width: 277px;
  height: 40px;

  background-color: var(--basic-black);
}

.slider-services-item.active a:hover::before,
.slider-services-item.active a:focus::before,
.slider-services-item a:active::before {
  transform: none;
  transition-duration: 0s;
}

.slider-services-descriptions {
  width: 760px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

.slider-services-descriptions-item {
  display: none;
}

.slider-services-descriptions-item.active {
  position: relative;

  display: block;
}

.slider-services-descriptions-item::after {
  content: "";
  position: absolute;

  background-color: transparent;
  background-repeat: no-repeat;
}

.slider-services-descriptions-item.delivery::after {
  top:1px;
  right: 2px;

  width: 136px;
  height: 164px;

  background-image: url("../img/slider_middle_delivery.svg");
}

.slider-services-descriptions-item.warranty::after {
  top: -18px;
  right: -16px;

  width: 171px;
  height: 195px;

  background-image: url("../img/slider_middle_warranty.svg");
}

.slider-services-descriptions-item.credit::after {
  top: -22px;
  right: 8px;

  width: 156px;
  height: 188px;

  background-image: url("../img/slider_middle_credit.svg");
}

.slider-services-descriptions h3 {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 9.4px;
}

.slider-services-descriptions p {
  margin: 0;

  line-height: 28px;
  letter-spacing: 1.5px;
}

.slider-services-descriptions-item.warranty p {
  line-height: 30px;
}

  /* Логотипы вендоров */
.vendors {
  margin-bottom: 86px;
}

.vendors-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.vendors-list-item {
  max-width: 260px;
  margin-right: 40px;
}

.vendors-list-item a:focus {
  box-shadow: none;
}

.vendors-list-item:nth-child(4n) {
  margin-right: 0;
}

.vendors-list-item a {
  display: inline-flex;

  filter: grayscale(1);
  opacity: 0.2;
}

.vendors-list-item a:hover,
.vendors-list-item a:focus {
  filter: grayscale(0);
  opacity: 1;
  transition: 0.3s;
}

 /* Информация о компании */
.company-info {
  margin-bottom: 77px;
}
.company-info-container {
  display: flex;
  justify-content: space-between;
}

.company-info h3 {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 9.4px;
}

.company-info p {
  margin: 0;
  margin-bottom: 40px;

  line-height: 28px;
}

.about-us {
  position: relative;

  width: 500px;
  padding-top: 57px;
}

.about-us::before,
.contacts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

.about-us p:last-of-type {
  margin-bottom: 63px;
}

.about-us .uppercase {
  text-transform: uppercase;
}

.about-us-partners {
  margin: 0;
  margin-bottom: 73px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
}

.about-us-partners li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 32px;
}

.about-us-partners li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  display: block;

  width: 4px;
  height: 4px;

  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
}

.about-us-btn,
.write-us-btn {
  width: 260px;

  letter-spacing: 3.6px;
}

.company-info .about-us-btn:focus,
.company-info .write-us-btn:focus {
  box-shadow: none;
}

.contacts {
  position: relative;

  width: 560px;
  padding-top: 57px;
}

.contacts .map-link {
  display: inline-flex;

  margin-bottom: 75px;
}

.contacts .map-link:focus {
  box-shadow: 0 0 0 2px var(--special-yellow);
}

 /* Футер */
.page-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-navigation {
  padding-top: 46px;
}

.footer-top-row {
  display: flex;
  justify-content: space-between;

  min-height: 53px;
  margin-bottom: 40px;
}

.footer-logo {
  align-self: flex-end;
}

.footer-user-actions {
  display: flex;
  flex-wrap: wrap;

  width: 500px;
  margin: 0;
  padding: 0;
}

.footer-user-actions-item {
  margin-right: 40px;
}

.footer-user-actions-item:first-child {
  margin-right: 25px;
}

.footer-user-actions-item:only-child {
  margin-right: 40px;
}

.footer-user-actions-item.profile {
  flex-grow: 1;

  margin-right: 0;
}

.footer-user-actions-item .profile-wrapper {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
}

.footer-user-actions-item a {
  position: relative;

  opacity: 0.7;
}

.footer-user-actions-item a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  background-repeat: no-repeat;
}

.footer-user-actions-item.login-item a {
  padding-left: 25px;
}

.footer-user-actions-item.login-item a::before {
  top: 4px;

  width: 13px;
  height: 14px;

  background-image: url("../img/icon_user_footer.svg");
}

.footer-user-actions-item.compare-item a {
  padding-left: 27px;
}

.footer-user-actions-item.compare-item a::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/icon_compare_footer.svg");
}

.footer-user-actions-item.basket-item {
  margin-right: 0;
}

.footer-user-actions-item.basket-item a {
  padding-left: 22px;
}

.footer-user-actions-item.basket-item a::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/icon_basket_footer.svg");
}

.footer-user-actions-item a:hover,
.footer-user-actions-item a:focus {
  opacity: 1;
}

.footer-user-actions-item a:active {
  opacity: 0.3;
}

.footer-middle-row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 67px;
}

.footer-middle-row p,
.footer-services-menu {
  margin: 0;
  padding: 0;
}

.footer-middle-row p,
.footer-middle-row .telephone {
  width: 300px;
  word-wrap: break-word;
}

.footer-middle-row .telephone {
  text-align: right;
  user-select: text;
}

.footer-services-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-services-menu-item:not(:last-child) {
  margin-right: 30px;
}

.footer-services-menu-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-services-menu-item a:hover,
.footer-services-menu-item a:focus,
.telephone:hover,
.telephone:focus {
  opacity: 0.6;
}

.footer-services-menu-item a:active,
.telephone:active {
  opacity: 0.3;
}

.footer-bottom-row {
  position: relative;

  display: flex;

  margin-bottom: 65px;
}

.footer-bottom-row::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--special-yellow-dark);
}

.social {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  margin: 0;
  margin-left: 50px;
  padding: 0;
}

.social-item {
  margin-right: 20px;
}

.social-item a {
  display: inline-flex;

  width: 32px;
  height: 32px;

  border-radius: 50px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-item.fb a {
  background-image: url("../img/icon_social_fb.svg");
}

.social-item.inst a {
  background-image: url("../img/icon_social_inst.svg");
}

.social-item.tw a {
  background-image: url("../img/icon_social_tw.svg");
}

.social a:hover,
.social a:focus {
  opacity: 0.6;
}

.social .social-item a:focus {
  box-shadow: none;
}

.social a:active {
  opacity: 0.3;
}

.academy-logo {
  display: inline-flex;

  width: 27px;
  height: 34px;

  background-image: url("../img/icon_htmlacademy_logo.svg");
  background-repeat: no-repeat;
}

.footer-bottom-row .academy-logo:hover,
.footer-bottom-row .academy-logo:focus {
  opacity: 0.6;
  box-shadow: none;
}

.academy-logo:active {
  opacity: 0.3;
}
                                                  /* КАТАЛОГ */

  /* Основная навигация каталога  */
.main-navigation.inner-page {
  min-height: 206px;
  margin-bottom: 44px;
}

  /* Заголовок с хлебными крошками */
.page-content h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 60px;
}

.breadcrumbs-item {
  margin-right: 12px;
}

.breadcrumbs-item:not(:first-child) {
  position: relative;

  padding-left: 28px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;

  width: 4px;
  height: 4px;

  border-right: 1px solid var(--basic-black);
  border-bottom: 1px solid var(--basic-black);
  transform: rotate(-45deg);
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

.breadcrumbs a:not([href]) {
  cursor: default;
}

  /* Фильтр каталога и товары с сортировкой*/
.catalog-wrapper {
  display: flex;
}

.filter {
  flex-grow: 1;

  background-color: var(--basic-grey-light);
}

.filter-title-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 70px;

  background-color: var(--filter-background-color);
}

.filter-title-wrapper h2 {
  box-sizing: border-box;

  width: 328px;
  margin: 0;
  padding-left: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  user-select: none;
}

.filter-form-wrapper {
  display: flex;
  justify-content: flex-end;

  height: 100%;
}

.filter-form {
  box-sizing: border-box;

  width: 328px;
  padding-top: 69px;
  padding-right: 68px;
  padding-left: 60px;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  border: none;
}

.filter-form legend {
  position: relative;
}

.filter-form legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

.filter-form fieldset:last-child {
  margin-bottom: 41px;
}

.filter-form legend {
  margin-bottom: 30px;
  padding-top: 16px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 1.4px;

  user-select: none;
}

.range-filter .range-controls {
  position: relative;

  padding-top: 9px;
  height: 18px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(var(--basic-black-rgb), 0.2);
}

.range-controls .bar {
  width: 61%;
  height: 2px;

  background-color: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;

  width: 4px;
  height: 4px;

  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--toggle-color);
  box-shadow: 0px 2px 2px rgba(var(--basic-black-rgb), 0.18);
  cursor: pointer;
}

.range-controls .toggle:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--basic-black);
}

.range-controls .toggle-max {
  left: 116px;
}

.price-controls {
  display: flex;
}

.price-controls label,
.price-controls input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;

  user-select: none;
}

.price-controls input {
  width: 79px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}

.color-filter-list,
.bluetooth-list {
  margin: 0;
  padding: 0;
}

.color-filter-item,
.bluetooth-item {
  min-height: 24px;
  margin-bottom: 15px;
  padding-left: 42px;
}

.color-filter-item:last-child,
.bluetooth-item:last-child {
  margin-bottom: 0;
}

.color-filter-item label,
.bluetooth-item label {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 19px;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;

  width: 20px;
  height: 20px;

  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -36px;

  width: 9px;
  height: 5px;

  border-bottom: 2px solid var(--basic-black);
  border-left: 2px solid var(--basic-black);
  transform: rotate(-45deg);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;

  width: 20px;
  height: 20px;

  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -34px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: var(--basic-black);
}

.color-filter-item label:hover,
.color-filter-item input:focus + label,
.bluetooth-item label:hover,
.bluetooth-item input:focus + label {
  opacity: 0.6;
}

.color-filter-item label:active,
.bluetooth-item label:active {
  opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled + label,
.filter-input-radio:disabled + label,
.filter-input-radio:checked:disabled + label {
  opacity: 0.25;
  cursor: default;
}

  .filter-form .btn {
  z-index: 1;
  width: 100%;

  letter-spacing: 3.6px;

  border: none;
}

  /* Контентная часть каталога */
.products-catalog {
  flex-grow: 1;
}

.sorting-wrapper {
  display: flex;
  align-items: center;

  min-height: 70px;

  background-color: var(--basic-grey-light);
}

.sorting {
  display: flex;
  align-items: center;

  width: 832px;
}

.sorting-title {
  margin: 0;
  margin-right: 72px;
  margin-left: 72px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  user-select: none;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 450px;
  margin: 0;
  padding: 0;
}

.sorting-list .sorting-item {
  flex-shrink: 0;
}

.sorting-item:not(:last-child) {
  margin-right: 30px;
}

.sorting-btn,
.sorting-arrow-btn {
  padding: 0;

  border: none;
  background-color: transparent;

  user-select: none;
  cursor: pointer;
}

.sorting-btn {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sorting-btn.active {
  opacity: 1;
}

.sorting-btn:hover,
.sorting-btn:focus {
  opacity: 0.6;
}

.sorting-btn:active {
  opacity: 1;
}

.sorting-arrow {
  display: flex;

  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sorting-arrow-item:not(:last-child) {
  margin-right: 16px;
}

.sorting-arrow-btn {
  position: relative;

  width: 18px;
  height: 18px;

  opacity: 0.2;
}

.sorting-arrow-btn.active {
  opacity: 1;
}

.sorting-arrow-btn[name="ascending"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;

  border: 5px solid transparent;
  border-bottom: 10px solid var(--basic-black);
}

.sorting-arrow-btn[name="descending"]::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  border: 5px solid transparent;
  border-top: 10px solid var(--basic-black);
}

.sorting-arrow-btn:hover,
.sorting-arrow-btn:focus {
  opacity: 0.4;
}

.sorting-arrow-btn:active {
  opacity: 1;
}

.product-items {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;

  width: 832px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 70px;
  padding-left: 72px;
}

.product-item {
  position: relative;

  margin-bottom: 48px;
}

.product-item:last-child,
.product-item:nth-last-child(2) {
  margin-bottom: 0;
}

.product-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.product-item.new-item::before {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 58px;
  height: 58px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;

  color: rgba(var(--basic-black-rgb), 0.3);
  border: 2px solid rgba(var(--basic-black-rgb), 0.3);
  border-radius: 50%;
}

.product-item figure {
  width: 360px;
  margin: 0;
}

.product-item figcaption {
  display: flex;
  align-items: baseline;
}

.product-item img {
  margin-bottom: 25px;
}

.product-item h3 {
  width: 277px;
  margin: 0;
  margin-right: 5px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.9px;
}

.product-item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

.product-hover-btns {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-items: center;

  width: 360px;
  height: 380px;
  padding-top: 171px;
}

.product-item figure:hover,
.product-item figure:focus {
  outline: none;
}

.product-item figure:hover .product-hover-btns,
.product-item figure:focus-within .product-hover-btns {
  display: flex;
}

.product-item figure:hover img,
.product-item figure:focus-within img {
  opacity: 0.7;
}

.to-basket-btn {
  width: 200px;
  margin-bottom: 13px;

  letter-spacing: 3.6px;

  border: none;
  cursor: pointer;
}

.to-compare-btn {
  padding: 0;

  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 1.3px;

  border: none;
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
}

.to-compare-btn:hover,
.to-compare-btn:focus {
  opacity: 1;
}

.to-compare-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--basic-black);
}

.to-compare-btn:active {
  opacity: 0.2;
  box-shadow: none;
}

.product-hover-btns:hover {
  opacity: 1;
}

.product-hover-btns:hover + img {
  opacity: 0.7;
}

.pagination-list {
  display: flex;

  width: 760px;
  min-height: 70px;
  margin: 0;
  margin-bottom: 79px;
  margin-left: 72px;
  padding: 0;

  background-color: var(--pagination-background-color);
}

.pagination-item.pages {
  align-self: center;

  margin: 0 auto;
}

.pages-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.page-item:not(:last-child) {
  margin-right: 30px;
}

.page-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  opacity: 0.3;
}

.page-item.active a {
  opacity: 1;
}

.page-item:not(.active) a:hover,
.page-item:not(.active) a:focus {
  opacity: 0.6;
}

.page-item:not(.active) a:active {
  opacity: 1;
}

.pagination-btn {

  width: 120px;
  height: 70px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination-btn:hover,
.pagination-btn:focus {
  background-color: var(--pagination-button-color);
  outline: none;
}

.pagination-btn:active {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.pagination-btn.disabled:hover {
  background-color: transparent;
  cursor: default;
}

  /* Футер каталога */
.footer-logo.inner-page:hover,
.footer-logo.inner-page:focus {
  opacity: 0.6;
}

.footer-logo.inner-page:focus {
  box-shadow: 0 0 0 2px var(--special-yellow);
}

.footer-logo.inner-page:active {
  opacity: 0.3;
}

  /* Pop-up's */
.write-us {
  display: none;

  box-sizing: border-box;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 960px;
  height: 550px;
  margin: auto;
  padding-top: 92px;
  padding-right: 100px;
  padding-left: 100px;

  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(var(--basic-black-rgb), 0.15);
}

.letter-form {
  display: flex;
  flex-wrap: wrap;
}

.letter-form p {
  display: flex;
  flex-direction: column;

  width: 360px;
  margin: 0;
  margin-bottom: 32px;
}

.letter-form p:first-child {
  margin-right: 40px;
}

.letter-form p:last-of-type {
  width: 760px;
  margin-bottom: 45px;
}

.letter-form label {
  margin-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.letter-form input::placeholder,
.letter-form textarea::placeholder {
  color: rgba(var(--basic-black-rgb), 0.4);
}

.letter-form input,
.letter-form textarea {
  padding: 0;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 19px;

  border: none;
  background-color: var(--letter-inputs-color);
  outline-color: var(--special-yellow);
}

.letter-form textarea {
  width: 730px;
  height: 151px;
  padding-right: 10px;
  padding-bottom: 0;
  resize: none;
}

.letter-form input:hover,
.letter-form textarea:hover {
  background-color: var(--letter-inputs-active-color);
}

.letter-form input:focus,
.letter-form textarea:focus {
  background-color: transparent;
}

.letter-btn {
  width: 200px;

  letter-spacing: 3.6px;

  border: none;
  cursor: pointer;
}

  /* Map pop-up */
.pop-up-map {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 960px;
  height: 550px;
  margin: auto;

  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(var(--basic-black-rgb), 0.15);
}

.pop-up-map iframe {
  position: absolute;
  z-index: 1;
  border: none;
}

.pop-up-map img {
  position: absolute;
  z-index: 0;
}

  /*Кнопка "Закрыть"*/
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;

  width: 55px;
  height: 55px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
  outline: none;
}

.btn-close::before,
.btn-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 16px;

  width: 22px;
  height: 2px;

  background-color: var(--basic-white);
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}

.btn-close:hover,
.btn-close:focus {
  opacity: 1;
  cursor: pointer;
}

.btn-close:active {
  opacity: 0.3;
}

  /* Анимации */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes map-animation {
  0% {
    transform: translate(500px, 100px) scale(0);
  }
  20% {
    transform: translate(400px, 80px) scale(0.2);
  }
  40% {
    transform: translate(300px, 60px) scale(0.4);
  }
  60% {
    transform: translate(200px, 40px) scale(0.6);
  }
  80% {
    transform: translate(100px, 20px) scale(0.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

  /* Доп классы с помощью JS */
.write-us-show {
  display: block;
  animation: bounce 0.6s;
}

.pop-up-map-show {
  display: block;
  animation: map-animation 0.3s;
}

.letter-form .wrong-value {
  background-color: var(--status);
}

.error-shake {
  animation: shake 0.6s;
}
