/*Переменные цвета*/
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;

  --status: #f6dada;
}

/*Шрифты*/
@font-face {
  font-family: 'Gilroy';
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*Прячем доступно*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Глобальные стили*/
.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 1200px;
  min-height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif ;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.page-body a {
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.page-body ul {
  list-style: none;
}

/*Глобальные стили кнопок*/
.btn {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:active {
  opacity: 0.3;
}

/*Шапка сайта*/
.page-header {
  width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 20px;

  padding-left: 20px;
}

.main-navigation {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: start;

  position: relative;

  padding-top: 44px;
  padding-right: 60px;
  padding-left: 60px;

  background-color: var(--special-yellow);
}
.main-navigation a:visited {
  opacity: 0.3;
}

.main-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.logo.index,
.logo.index:hover,
.logo.index:active {
  position: absolute;
  top: -20px;
  left: 60px;

  opacity: 1;
  cursor: default;
}

.navigation-top-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.user-actions {
  display: flex;

  min-width: 500px;
  margin: 0;
  padding: 0;
}

.user-actions-item:first-child {
  padding-left: 24px;
  margin-right: 214px;
}

.user-actions-item:nth-child(2) {
  padding-left: 26px;
  margin-right: 43px;
}

.user-actions-item:last-child {
  padding-left: 22px;
}

.navigation-bottom-row {
  display: flex;
  align-items: start;
  justify-content: space-between;

  padding-top: 47px;
  padding-bottom: 164px;
}

.catalog,
.services-menu {
  padding: 0;
  margin: 0;
}

.have-drop-down,
.services-menu-item a {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.have-drop-down {
  padding-right: 38px;
}

.services-menu {
  display: flex;
  align-items: start;
}

.services-menu-item a {
  letter-spacing: 3.1px;
}

.services-menu-item:first-child {
  margin-right: 38px;
}

.services-menu-item:nth-child(2) {
  margin-right: 111px;
}

/*Слайдер топ-товаров*/
.page-content {
  display: flex;
  flex-direction: column;
}

.slider-products {
  position:  relative;

  width: 1160px;
  min-height: 476px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.slider-products-list {
  position: absolute;
  top: -131px;

  margin: 0;
  padding: 0;
}

.slider-products-item {
  display: flex;
  justify-content: start;
}

.slider-img-wrapper {
  width: 384px;
  height: 486px;
  margin-left: 88px;
  margin-right: 127px;
}

.slider-img-wrapper.slide-2 {
  width: 345px;
  height: 483px;
  margin-right: 100px;
  padding-top: 28px;
  padding-left: 28px;
}

.slider-img-wrapper.slide-3 {
  width: 526px;
  height: 334px;
  margin-top: 85px;
  margin-right: 44px;
  margin-left: 30px;

}

.slider-products-description {
  display: flex;
  flex-direction: column;
  justify-content: start;

  width: 500px;
  padding-top: 94px;
}

.slider-products-description b {
  width: 431px;
  margin-bottom: 30px;

  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.slider-products-description.slide-3 b {
  width: 495px;
  margin-bottom: 28px;
}

.slider-products-description p {
  width: 478px;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
}

.slider-products-description.slide-2 p {
  width: 450px;
}

.slider-products-description.slide-3 p {
  width: 470px;
}

.slider-products-description a {
  width: 220px;
  height: 40px;
  margin-bottom: 52px;
  line-height: 40px;
  letter-spacing: 3.1px;
  text-align: center;
  vertical-align: middle;
}


.slider-products-characteristics {
  display: flex;
  justify-content: start;

  margin: 0;
  padding: 0;

  font-family: 'Gilroy', sans-serif;
  font-weight: 300;

}

.slider-products-characteristics div:not(:last-child) {
  margin-right: 65px;
}

.slider-products-characteristics.slide-3 div:first-child {
  margin-right: 28px;
}

.slider-products-characteristics dt {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3.3px;
}

.slider-products-characteristics dd {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.2px;
}

.slider-products-controls {
  position: absolute;
  bottom: 250px;
  right: 41px;
}

/*Дублирующее меню каталога*/
.popular-categories a {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

/*Слайдер услуг*/
.slider-services-item.active a {
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.slider-services-item.active a:active {
  opacity: 1;
}

.slider-services-descriptions h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.slider-services-descriptions p {
  line-height: 28px;
}

/*Информация о компании*/
.company-info h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.company-info p {
  line-height: 28px;
}

.about-us .uppercase {
  text-transform: uppercase;
}

.about-us-partners {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
}

/*Футер*/
.page-footer,
.page-footer a {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-user-actions-item a {
  opacity: 0.7;
}

.footer-user-actions-item a:hover {
  opacity: 1;
}

.footer-user-actions-item a:active {
  opacity: 0.3;
}

.footer-services-menu-item a {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.footer-services-menu-item a:hover {
  opacity: 0.6;
}

.footer-services-menu-item a:active {
  opacity: 0.3;
}

                                                  /*КАТАЛОГ*/
.catalog-submenu-item a:not([href]) {
  opacity: 0.3;
  cursor: default;
}

.page-content h1 {
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs a[href]:hover {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

.breadcrumbs a:not([href]) {
  cursor: default;
}

/*Фильтр*/
.filter h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
}

.filter-form label {
  font-size: 14px;
  line-height: 19px;
}

/*Сортировка*/
.sorting h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
}

.sorting-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.3;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sorting-btn:not(.active):hover {
  opacity: 0.6;
}

.sorting-btn.active {
  opacity: 1;
}

/*Карточки товаров*/
.product-item h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.product-item span {
  font-size: 16px;
  line-height: 18px;
}

.product-hover-btns button[name="to-compare"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  opacity: 0.5;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.product-hover-btns button[name="to-compare"]:hover {
  opacity: 1;
}

.product-hover-btns button[name="to-compare"]:active {
  opacity: 0.2;
}

/*Пагинатор*/
.pagination-list {
  background-color: #ebebeb;
}

.pagination-btn {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;

  border: none;
  background-color: #ebebeb;

  outline: none;
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #d9d9d9;
}

.pagination-btn:active {
  opacity: 0.3;
}

.pagination-btn.disabled {
  background-color: transparent;
  opacity: 0.3;
  cursor: default;
}

.pagination-item a{
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {  opacity: 1;
}

.pagination-item.active a{
  opacity: 1;
  cursor: default;
}
